body {
  main.main-content {
    section {
      // Hero Section
      &.hero-section-wrap {
        .hero-section {
          background-size: cover;
          background-position: center;

          .overlay-wrapper {
            height: 100vh;
            background-color: rgba($black, 0.2);
            @include flex-column;
            justify-content: flex-end;
            padding-bottom: 102px;

            @media screen and (max-width: $breakpoint-lg) {
              padding-bottom: 80px;
            }
            @media screen and (max-width: $breakpoint-md) {
              padding-bottom: 64px;
            }
            @media screen and (max-width: $breakpoint-sm) {
              padding-bottom: 54px;
            }
            @media screen and (max-width: $breakpoint-xsm) {
              padding-bottom: 30px;
            }

            .hero-content {
              text-align: center;

              h1 {
                text-transform: uppercase;
              }
            }
          }
        }
      }
      // Hero Section ends here

      // About Us Section
      &.about-section-wrap {
        padding: 90px 0;

        @media screen and (max-width: $breakpoint-lg) {
          padding: 82px 0;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding: 68px 0;
        }
        @media screen and (max-width: $breakpoint-sm) {
          padding: 52px 0;
        }
        @media screen and (max-width: $breakpoint-xsm) {
          padding: 27px 0;
        }

        .about-section {
          .about-inner-wrapper {
            @include flex-wrap;
            column-gap: 0;
            row-gap: 27px;

            .media-area {
              @include flex-center;
              gap: 27px;
              width: 50%;

              @media screen and (max-width: $breakpoint-md) {
                width: 100%;
              }

              figure.about-img {
                padding: 0;
                margin: 0;
                overflow: hidden;

                @media screen and (max-width: $breakpoint-md) {
                  height: 100%;
                }

                &.img-left {
                  @media screen and (min-width: 992px) {
                    aspect-ratio: 187/226;
                  }

                  @media screen and (max-width: $breakpoint-md) {
                    width: calc(40% - 13.5px);

                    img {
                      transform: scale(1.4);
                    }
                  }
                }
                &.img-right {
                  @media screen and (min-width: 992px) {
                    aspect-ratio: 280/453;
                  }
                  @media screen and (max-width: $breakpoint-md) {
                    width: calc(60% - 13.5px);

                    img {
                      transform: scale(1.6);
                    }
                  }
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center top;
                  transform: scale(1.2);
                }
              }
            }

            .content-area {
              width: 50%;
              padding: 0 65px;

              @media screen and (max-width: $breakpoint-lg) {
                padding: 0 50px;
              }
              @media screen and (max-width: $breakpoint-md) {
                padding: 0;
                width: 100%;
              }

              .content-text {
                margin-top: 35px;

                @media screen and (max: $breakpoint-md) {
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
      // About Us Section ends here

      // Portfolio Section
      &.portfolio-section-wrap {
        // Corporate Portfolio Section for highlight corporate work
        div.corporate-portfolio-section {
          .corporate-portfolio-inner-wrapper {
            &:not(.slick-initialized) {
              @include flex-center;
              overflow-x: auto;
            }

            .slick-track {
              @include flex-center;
              justify-content: center;
            }

            .corporate-portfolio-itm {
              aspect-ratio: 1;
              padding: 10px 25px;
              @include flex-center;
              justify-content: center;

              @media screen and (max-width: $breakpoint-sm) {
                padding: 6px 12px;
              }

              img.portfolio-logo {
                width: 100%;
                height: auto;
                transition: $transition;
                filter: grayscale(1);
                opacity: 0.6;
              }

              &:hover {
                img.portfolio-logo {
                  transition: $transition;
                  filter: grayscale(0);
                  opacity: 1;
                  cursor: pointer;
                }
              }
            }
          }
        }

        // Portfolio Gallery Section for masonary layout
        div.portfolio-gallery-section {
          .portfolio-gallery-inner-wrapper {
            padding: 50px 0;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @media screen and (max-width: $breakpoint-md) {
              padding: 30px 0;
            }
            @media screen and (max-width: $breakpoint-sm) {
              padding: 20px 0;
              grid-template-columns: repeat(2, 1fr);
              gap: 15px;
            }
            @media screen and (max-width: $breakpoint-xsm) {
              grid-template-columns: repeat(1, 1fr);
            }

            .portfolio-column {
              @include flex-column;
              gap: 20px;

              @media screen and (max-width: $breakpoint-sm) {
                gap: 15px;

                &:nth-child(3) {
                  display: none;
                }
              }
              @media screen and (max-width: $breakpoint-xsm) {
                gap: 10px;

                &:nth-child(2) {
                  display: none;
                }
              }

              .portfolio-gallery-itm {
                display: flex;

                img.gallery-img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      // Portfolio Section ends here

      // services Section
      &.services-section-wrap {
        padding: 90px 0;
        overflow: hidden;

        @media screen and (max-width: $breakpoint-lg) {
          padding: 82px 0;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding: 68px 0;
        }
        @media screen and (max-width: $breakpoint-sm) {
          padding: 52px 0;
        }
        @media screen and (max-width: $breakpoint-xsm) {
          padding: 27px 0;
        }

        .services-section {
          .heading-area {
            p.section-label {
              margin-left: auto;
              margin-right: auto;
            }
          }

          .services-cards {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 27px;

            @media screen and (max-width: $breakpoint-md) {
              grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: $breakpoint-sm) {
              grid-template-columns: repeat(1, 1fr);
            }

            .service-card {
              background-position: center;
              background-size: cover;

              .gradient-overlay {
                width: 100%;
                height: 100%;
                aspect-ratio: 300/450;
                @include flex-column;
                justify-content: center;

                transition: $transition;
                background-image: linear-gradient(
                  180deg,
                  rgba($black, 0) 0,
                  rgba($black, 0.6) 100%
                );
                padding: 30px;

                @media screen and (max-width: $breakpoint-sm) {
                  padding: 27px;
                }

                .content {
                  width: 100%;
                  text-align: center;

                  .service-title {
                    transition: $transition;
                  }

                  .service-desc {
                    font-size: 0;
                    line-height: 0;
                    visibility: hidden;
                    transition: 550ms visibility ease, 250ms font-size ease;

                    margin-top: 20px;

                    @media screen and (max-width: $breakpoint-sm) {
                      margin-top: 15px;
                    }
                  }
                }
              }

              &:hover {
                .gradient-overlay {
                  background-image: linear-gradient(
                    180deg,
                    rgba($black, 0) 0,
                    rgba($black, 0.8) 40%
                  );

                  .content {
                    .service-title {
                      @extend h6;
                      transition: $transition;
                    }
                    .service-desc {
                      font-size: 16px;
                      line-height: 24px;
                      visibility: visible;
                      transition: 550ms visibility ease, 250ms font-size ease;

                      @media screen and (max-width: $breakpoint-xsm) {
                        font-size: 14px;
                        line-height: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      // services Section ends here

      // Rounded Banner Section
      &.rounded-banner-section-wrap {
        padding: 90px 0;

        @media screen and (max-width: $breakpoint-lg) {
          padding: 82px 0;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding: 68px 0;
        }
        @media screen and (max-width: $breakpoint-sm) {
          padding: 52px 0;
        }
        @media screen and (max-width: $breakpoint-xsm) {
          padding: 27px 0;
        }

        .rounded-banner-section {
          overflow: hidden;

          .rounded-banner {
            aspect-ratio: 1200/800;
            overflow: hidden;
            transition: border-radius 0.3s ease;
            border-radius: 0.5px;

            img.banner {
              display: block;
              width: 100%;
              height: auto;
              object-fit: cover;
              transition: $transition;
            }
          }
        }
      }
      // Rounded Banner Section ends here

      // Testimonial Section
      // Note for Nitish: I've tried the Testimonial section as per the instruction from the Loom video however it was not good fit for this overall UI
      &.testimonial-section-wrap {
        .testimonial-section {
          background-position: center;
          background-size: cover;

          .overlay-wrapper {
            background-color: rgba($black, 0.8);
            padding: 150px 0;

            @media screen and (max-width: $breakpoint-lg) {
              padding: 110px 0;
            }
            @media screen and (max-width: $breakpoint-md) {
              padding: 90px 0;
            }
            @media screen and (max-width: $breakpoint-sm) {
              padding: 70px 0;
            }
            @media screen and (max-width: $breakpoint-xsm) {
              padding: 30px 0;
            }

            .testimonial-inner-wrap {
              @include flex-column;
              gap: 50px;

              .content-area {
                @include flex-column-center;
                align-items: center;
                text-align: center;
              }

              .testimonial-area {
                &:not(.slick-initialized) {
                  display: flex;
                  overflow-x: auto;
                  gap: 20px;

                  .testimonial-itm {
                    min-width: 100%;
                  }
                }

                &.slick-initialized {
                  position: relative;
                  padding-bottom: 40px;
                  margin: 0 -10px;

                  .testimonial-itm {
                    margin: 0 10px;
                    transition: $transition;
                  }

                  ul.slick-dots {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);

                    @include flex-center;
                    justify-content: center;
                    gap: 20px;

                    @media screen and (max-width: $breakpoint-md) {
                      gap: 15px;
                    }
                    @media screen and (max-width: $breakpoint-sm) {
                      gap: 10px;
                    }

                    li {
                      @include flex-center;
                      justify-content: center;
                      padding: 3px;
                      border: 1px solid transparent;
                      border-radius: $border-rounded;
                      transition: $transition;
                      cursor: pointer;

                      button {
                        font-size: 0;
                        line-height: 0;

                        display: block;
                        width: 6px;
                        height: 6px;
                        padding: 0;
                        border: 0;
                        outline: none;
                        background-color: rgba($white, 0.6);
                        border-radius: inherit;
                        transition: $transition;
                      }

                      &.slick-active,
                      &:hover {
                        border-color: $white;
                        transition: $transition;

                        button {
                          transition: $transition;
                          background-color: $white;
                        }
                      }
                    }
                  }
                }

                .testimonial-itm {
                  @include flex-column;
                  gap: 30px;

                  padding: 25px 35px;
                  background-color: rgba($white, 0.8);
                  border-radius: $border-regular;
                  cursor: grabbing;

                  @media screen and (max-width: $breakpoint-sm) {
                    background-color: $white;
                  }

                  &:hover {
                    background-color: $white;
                  }

                  .satisfied-client {
                    @include flex-center;
                    gap: 20px;
                    transition: $transition;

                    img.client-profile {
                      width: 60px;
                      height: 60px;
                      object-fit: cover;
                      object-position: center;
                      border-radius: $border-rounded;
                    }
                  }
                }
              }
            }
          }
        }
      }
      // Testimonial Section ends here

      // Contact CTA Section
      // Note For Nitish: Here I've used Yellow Color as it attracts and focus more for Call To Action
      &.contact-section-wrap {
        .contact-section {
          background-color: $dg-secondary;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            transition: $transition;
          }

          // Styling for parent's parent div contact section
          &.hovered {
            transition: $transition;

            &::after {
              background-color: $hover-grey;
              transition: $transition;
              top: 35%;
              bottom: 35%;
              right: 40%;
              left: 40%;
              width: 20%;
              height: 30%;

              @media screen and (max-width: $breakpoint-sm) {
                top: 30%;
                bottom: 30%;
                height: 40%;
              }
              @media screen and (max-width: $breakpoint-xsm) {
                top: 20%;
                bottom: 20%;
                left: 30%;
                right: 30%;
                width: 40%;
                height: 60%;
              }
            }
          }

          .contact-cta-inner-wrap {
            padding: 150px 0;
            text-align: center;
            position: relative;
            z-index: 1;

            @include flex-center;
            justify-content: center;

            @media screen and (max-width: $breakpoint-lg) {
              padding: 110px 0;
            }
            @media screen and (max-width: $breakpoint-md) {
              padding: 90px 0;
            }
            @media screen and (max-width: $breakpoint-sm) {
              padding: 70px 0;
            }
            @media screen and (max-width: $breakpoint-xsm) {
              padding: 30px 0;
            }

            a.contact-cta-btn {
              @include flex-center;
              gap: 30px;
              width: max-content;

              @extend h1;
              color: $dg-secondary;
              text-transform: uppercase;
              transition: $transition;

              @media screen and (max-width: $breakpoint-xsm) {
                font-size: 35px;
                line-height: 40px;
                letter-spacing: 0.35px;
                gap: 20px;
              }

              span.cta-text {
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  transform: translateY(10px);
                  transition: $transition;

                  width: 100%;
                  height: 4px;
                  background-color: $dg-secondary;
                }
              }

              img.icon {
                transition: $transition;
                filter: brightness(0);
                width: auto;
                height: calc(79px / 2);

                @media screen and (max-width: $breakpoint-lg) {
                  height: calc(56px / 2);
                }

                @media screen and (max-width: $breakpoint-sm) {
                  height: calc(48px / 2);
                }
              }

              &:hover,
              &:focus,
              &:visited {
                color: $yellow;
                transition: $transition;

                span.cta-text {
                  &::after {
                    width: 10px;
                    right: 0;
                    background-color: $yellow;
                    transition: $transition;
                  }
                }
                img.icon {
                  transition: $transition;
                  filter: brightness(1);
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
      // Contact CTA Section ends here

      // Image Slider Section
      &.image-slider-section-wrap {
        padding: 40px 0;

        @media screen and (max-width: $breakpoint-md) {
          padding: 30px 0;
        }
        @media screen and (max-width: $breakpoint-xsm) {
          padding: 15px 0;
        }

        div.image-slider-section {
          .image-slider-inner-wrap {
            &:not(.slick-initialized) {
              @include flex-center;
              overflow-x: auto;
              gap: 15px;

              .img-slider-itm {
                min-width: calc(calc(100% / 3) - 10px);
                aspect-ratio: 3/4;
              }
            }

            &.slick-initialized {
              .slick-track {
                display: flex;

                .img-slider-itm {
                  padding: 0 10px;
                  height: inherit;

                  @media screen and (max-width: $breakpoint-xsm) {
                    padding: 0 5px;
                  }

                  &:nth-child(odd) {
                    @media screen and (min-width: 992px) {
                      width: 30vw;
                    }
                  }
                  &:nth-child(even) {
                    @media screen and (min-width: 992px) {
                      width: 40vw;
                    }
                  }
                }
              }
            }

            .img-slider-itm {
              @media screen and (min-width: 992px) {
                max-height: 400px;
              }
              @media screen and (max-width: $breakpoint-md) {
                aspect-ratio: 2/3;
              }
              @media screen and (max-width: $breakpoint-xsm) {
                aspect-ratio: 1;
              }

              img.slider-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
      // Image Slider Section ends here
    }
  }
}
