body {
  main.main-content {
    section {
      // Hero Section
      &.hero-section-wrap {
        .hero-section {
          background-size: cover;
          background-position: center;

          .overlay-wrapper {
            height: 100vh;
            background-color: rgba($black, 0.2);
            @include flex-column;
            justify-content: flex-end;
            padding-bottom: 102px;

            @media screen and (max-width: $breakpoint-lg) {
              padding-bottom: 80px;
            }
            @media screen and (max-width: $breakpoint-md) {
              padding-bottom: 64px;
            }
            @media screen and (max-width: $breakpoint-sm) {
              padding-bottom: 54px;
            }
            @media screen and (max-width: $breakpoint-xsm) {
              padding-bottom: 30px;
            }

            .hero-content {
              text-align: center;

              h1 {
                text-transform: uppercase;
              }
            }
          }
        }
      }
      // Hero Section ends here

      // About Us Section
      &.about-section-wrap {
        padding: 90px 0;

        @media screen and (max-width: $breakpoint-lg) {
          padding: 82px 0;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding: 68px 0;
        }
        @media screen and (max-width: $breakpoint-sm) {
          padding: 52px 0;
        }
        @media screen and (max-width: $breakpoint-xsm) {
          padding: 27px 0;
        }

        .about-section {
          .about-inner-wrapper {
            @include flex-wrap;
            column-gap: 0;
            row-gap: 27px;

            .media-area {
              @include flex-center;
              gap: 27px;
              width: 50%;

              @media screen and (max-width: $breakpoint-md) {
                width: 100%;
              }

              figure.about-img {
                padding: 0;
                margin: 0;
                overflow: hidden;

                @media screen and (max-width: $breakpoint-md) {
                  height: 100%;
                }

                &.img-left {
                  @media screen and (min-width: 992px) {
                    aspect-ratio: 187/226;
                  }

                  @media screen and (max-width: $breakpoint-md) {
                    width: calc(40% - 13.5px);

                    img {
                      transform: scale(1.4);
                    }
                  }
                }
                &.img-right {
                  @media screen and (min-width: 992px) {
                    aspect-ratio: 280/453;
                  }
                  @media screen and (max-width: $breakpoint-md) {
                    width: calc(60% - 13.5px);

                    img {
                      transform: scale(1.6);
                    }
                  }
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center top;
                  transform: scale(1.2);
                }
              }
            }

            .content-area {
              width: 50%;
              padding: 0 65px;

              @media screen and (max-width: $breakpoint-lg) {
                padding: 0 50px;
              }
              @media screen and (max-width: $breakpoint-md) {
                padding: 0;
                width: 100%;
              }

              .content-text {
                margin-top: 35px;

                @media screen and (max: $breakpoint-md) {
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
      // About Us Section ends here

      // Portfolio Section
      &.portfolio-section-wrap {
        // Corporate Portfolio Section for highlight corporate work
        div.corporate-portfolio-section {
          .corporate-portfolio-inner-wrapper {
            &:not(.slick-initialized) {
              @include flex-center;
              overflow-x: auto;
            }

            .slick-track {
              @include flex-center;
              justify-content: center;
            }

            .corporate-portfolio-itm {
              aspect-ratio: 1;
              padding: 10px 25px;
              @include flex-center;
              justify-content: center;

              @media screen and (max-width: $breakpoint-sm) {
                padding: 6px 12px;
              }

              img.portfolio-logo {
                width: 100%;
                height: auto;
                transition: $transition;
                filter: grayscale(1);
                opacity: 0.6;
              }

              &:hover {
                img.portfolio-logo {
                  transition: $transition;
                  filter: grayscale(0);
                  opacity: 1;
                  cursor: pointer;
                }
              }
            }
          }
        }

        // Portfolio Gallery Section for masonary layout
        div.portfolio-gallery-section {
          .portfolio-gallery-inner-wrapper {
            padding: 50px 0;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @media screen and (max-width: $breakpoint-md) {
              padding: 30px 0;
            }
            @media screen and (max-width: $breakpoint-sm) {
              padding: 20px 0;
              grid-template-columns: repeat(2, 1fr);
              gap: 15px;
            }
            @media screen and (max-width: $breakpoint-xsm) {
              grid-template-columns: repeat(1, 1fr);
            }

            .portfolio-column {
              @include flex-column;
              gap: 20px;

              @media screen and (max-width: $breakpoint-sm) {
                gap: 15px;

                &:nth-child(3) {
                  display: none;
                }
              }
              @media screen and (max-width: $breakpoint-xsm) {
                gap: 10px;

                &:nth-child(2) {
                  display: none;
                }
              }

              .portfolio-gallery-itm {
                display: flex;

                img.gallery-img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      // Portfolio Section ends here

      // services Section
      &.services-section-wrap {
        padding: 90px 0;
        overflow: hidden;

        @media screen and (max-width: $breakpoint-lg) {
          padding: 82px 0;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding: 68px 0;
        }
        @media screen and (max-width: $breakpoint-sm) {
          padding: 52px 0;
        }
        @media screen and (max-width: $breakpoint-xsm) {
          padding: 27px 0;
        }

        .services-section {
          .heading-area {
            p.section-label {
              margin-left: auto;
              margin-right: auto;
            }
          }

          .services-cards {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 27px;

            @media screen and (max-width: $breakpoint-md) {
              grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: $breakpoint-sm) {
              grid-template-columns: repeat(1, 1fr);
            }

            .service-card {
              background-position: center;
              background-size: cover;

              .gradient-overlay {
                width: 100%;
                height: 100%;
                aspect-ratio: 300/450;
                @include flex-column;
                justify-content: center;

                transition: $transition;
                background-image: linear-gradient(
                  180deg,
                  rgba($black, 0) 0,
                  rgba($black, 0.6) 100%
                );
                padding: 30px;

                @media screen and (max-width: $breakpoint-sm) {
                  padding: 27px;
                }

                .content {
                  width: 100%;
                  text-align: center;

                  .service-title {
                    transition: $transition;
                  }

                  .service-desc {
                    font-size: 0;
                    line-height: 0;
                    visibility: hidden;
                    transition: 550ms visibility ease, 250ms font-size ease;

                    margin-top: 20px;

                    @media screen and (max-width: $breakpoint-sm) {
                      margin-top: 15px;
                    }
                  }
                }
              }

              &:hover {
                .gradient-overlay {
                  background-image: linear-gradient(
                    180deg,
                    rgba($black, 0) 0,
                    rgba($black, 0.8) 40%
                  );

                  .content {
                    .service-title {
                      @extend h6;
                      transition: $transition;
                    }
                    .service-desc {
                      font-size: 16px;
                      line-height: 24px;
                      visibility: visible;
                      transition: 550ms visibility ease, 250ms font-size ease;

                      @media screen and (max-width: $breakpoint-xsm) {
                        font-size: 14px;
                        line-height: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      // services Section ends here

      // Rounded Banner Section
      &.rounded-banner-section-wrap {
        padding: 90px 0;

        @media screen and (max-width: 1199px) {
          padding: 82px 0;
        }
        @media screen and (max-width: 991px) {
          padding: 68px 0;
        }
        @media screen and (max-width: 767px) {
          padding: 52px 0;
        }
        @media screen and (max-width: 543px) {
          padding: 27px 0;
        }

        .rounded-banner-section {
          overflow: hidden;

          .rounded-banner {
            aspect-ratio: 1200/800;
            overflow: hidden;
            transition: border-radius 0.3s ease;
            border-radius: 0.5px;

            img.banner {
              display: block;
              width: 100%;
              height: auto;
              object-fit: cover;
              transition: $transition;
            }
          }
        }
      }
      // Rounded Banner Section ends here
    }
  }
}
